.flex-row {
    display: flex;
    flex-direction: row;
  
    > div {
      flex: 50%;
      padding: 10px;
    }
  }

.flex-row-comment {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > button {
        margin-left: auto;
    }
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  
    > div {
      flex: 50%;
      padding: 10px;
    }
  }